# Terraform State & Local Cache
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Python / Local Dev
__pycache__/
*.pyc
.venv/
env/

# Decoy Credentials & Keys
.env
*.pem
credentials
lambda_payload.zip